:root {
  --main-red: rgb(255, 0, 0);
}

body {
  background-color: whitesmoke;
  height: 100vh;
  margin: 0px;
}

header {
  border-bottom: 1px solid black;
  position: fixed;
  background-color: antiquewhite;
  width: 100vw;
  margin: 0px;
}

h1 {
  color: blue;
  font-size: 80px;
  text-decoration: underline;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  h1 {
    color: var(--main-red);
  }
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.mainImg {
  height: 300px;
  width: 300px;
  animation: changeImg 12s ease-in-out infinite;
  background-size: 300px 300px;
  border: 4px solid black;
}

@keyframes changeImg {
  0% {
    background-image: url("img/eastBlue.jpg");
  }
  25% {
    background-image: url("img/onigashima.jpg");
  }
  75% {
    background-image: url("img/nika.jpg");
  }
  100% {
    background-image: url("img/eggHead.jpg");
  }
}

.round {
  height: 120px;
  width: 120px;
  border: 4px solid black;
  border-radius: 50%;
  position: relative;
  top: -35px;
  left: -35px;
  transition: transform 0.5s ease-in-out;
}

.round:hover {
  transform: rotateY(180deg) rotateZ(360deg);
}

.btn {
  height: 50px;
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.textbox {
  padding: 10px;
  border-radius: 15px;
  font-style: bold;
  font-size: 20;
  background-color: rgba(255, 0, 0, 0.5);
}

input {
  border: 3px solid black;
}

input:first {
  background-color: none;
}

form > div:nth-child(odd) {
  background-color: yellow;
}

form {
  border: 2px solid var(--main-red);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form:focus-within {
  border-color: blue;
}

form > div:nth-child(even) {
  background-color: var(--main-red);
}

input[placeholder~="Name"] {
  background-color: aquamarine;
}

input[type="file"] {
  border: none;
  background-color: none;
}

input:required {
  border-color: seagreen;
}

form:hover input:focus {
  background-color: coral;
}

form > div:last-child {
  padding: 10px;
  align-content: center;
  height: 50px;
  width: 150px;
}

span {
  display: block;
  background-color: var(--main-red);
}

a:visited {
  color: black;
}

a:hover {
  color: saddlebrown;
}

span::selection {
  background-color: aqua;
  color: blanchedalmond;
}

input::placeholder {
  color: black;
}

footer {
  border-top: 1px solid black;
}

.small-btn {
  align-content: space-evenly;
  padding: 10px;
  height: 30px;
  width: 140px;
  background-color: var(--main-red);
  border-radius: 10px;
  color: black;
  transition: all 0.5s ease-in-out;
}

.small-btn:hover {
  background-color: yellow;
  color: var(--main-red);
}
